.login {
  height: calc(100% - 45px);
  background-color: var(--adm-color-background);
  .myForm {
    height: 430px;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto
  }
  .title {
    font-size: 28px;
    font-weight: bold;
  }
  .subTitle {
    font-size: 24px;
    font-weight: bold;
  }
  .attention {
    padding: 12px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .smallCheckbox {
    --icon-size: 18px;
    --font-size: 14px;
    --gap: 6px;
  }
}
