.home {
  height: 100%;
  width: 100%;
  position: relative;
  .mySpace {
    width: 60%;
    height: 390px;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
  }
}
