.home {
  position: relative;
  .mySpace {
    position: absolute;
    top: 50%; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    //transform: translateY(-50);
  }
  .myButton {
    background: #545454;
    color: #fff;
  }
}
