.courseCatalog {
  padding: 12px;
  background-color: var(--adm-color-background);
  p.reminder {
    margin-bottom: 12px;
  }
  ul.courseCatalogCard {
    li {
      border-radius: 5px;
      margin-bottom: 12px;
      &:first-child {
        background: #fcf5f4;
      }
      &:last-child {
        background: #f2f6fb;
      }
    }
  }
}
