.courseCard {
  display: flex;
  justify-content: start;
  align-items: start;
  span {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  }
}
.title {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
}
.subTitle {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}
.sectionItem {
  margin-bottom: 12px;
  font-size: 18px;
  color: #000000;
}
